.header {

  .container {
    width: 1434px;
    max-width: 100%;
    margin: auto;

    padding: 0 15px;

  }
  .logo {
    margin-bottom: 0;
  }

  .logo a {
    color: $dark;
    font-family: $font-family-sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2.5px;

    @media (max-width:1024px) {
      color: $primary;
    }

    @media (max-width:600px) {
      line-height: 20px;
      font-size: 14px;
    }
  }

  .btn-link {
    color: #000000;
    font-family: $font-family-sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    font-style: italic;
    letter-spacing: 1.76px;

    @media (max-width:1024px) {
      color: $light;
      text-decoration: underline;
    }

    @media (max-width:600px) {
      line-height: 20px;
      font-size: 14px;
    }
  }

  @media (max-width:1024px) {
    padding: 25px 0 20px;
    background: $dark;
  }
}
